@tailwind base;
@tailwind components;
@tailwind utilities;


.link--active {
  @apply text-blue-800;
}
.bg-dark {
  .link--active {
    color: #fff;
  }
}
.main {
  padding: 2rem 0;
  min-height: calc(100vh - 11.5rem);
  flex: 1;
  display: flex;
  flex-direction: column;
}